header{
    text-align: center;
    
}

form{
    background-color: lightblue;
    width: 400px;
    margin: 20px auto;
    border:2px solid black;
    text-align:center;
}

label{
    display:block;
    margin:10px 20px
}

input{
    margin:10px 20px
}

button{
    display:block;
    margin:10px 20px;
    margin: 20px auto;
}